.messanger{
    height: calc(100vh - 75px);
    /* height: 90vh; */
    display: flex;
    
}

.chatMenu{
    flex:3.5;
}

.chatBox{
    flex: 5.5;
    height: 100vh;
}


.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper{
    padding: 10px;
}

.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-evenly;
    height: 76vh;
}

.chatBoxTop{
    height: 70%;
    overflow-y: scroll;
    padding-right: 10px;
}

.chatMenuInput{
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
}

.chatBoxBottom{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid grey;
    margin-top: 15px;
    padding-top: 10px ;
}

.chatMessageInput{
    width: 80%;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.514);
}

.chatMessageInput:focus{
    border-bottom: 1px solid #000000;
}

.chatSubmitBtn{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 128, 0, 0.295);
    cursor: pointer;
}


.noConversation{
    position: absolute;
    top: 10%;
    font-size: 25px;
    color: rgba(128, 128, 128, 0.521);
    text-align: center;
}

.messanger-left{
    width: 20%;
    overflow-y: auto;
}

.chat-box{
    height: 85vh;
    width: 80%;
    padding: 10px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}